  	.left{
  		text-align: left;
  	}
  	.center{
  		text-align: center;
  	}
  	.right{
  		text-align: right;
  	}
  	img.shrink{
  		width: 250px;
  		margin: auto;
  	}
  	body{
  		padding-bottom: 50px;
  	}
  	.container{
  max-width: 600px;
}